<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zhongou">


    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于提高GPS定位速度-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!--读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- 否则不能监听每个状态 -->

    <!--  发送消息-->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0c89cf507f40dbf5d6f075cc3556ae71"/>

        <!-- 高德定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"/>

        <!--主界面 -->
        <activity
            android:name="com.zhongou.view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 登录-->
        <activity
            android:name="com.zhongou.view.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <!-- 01审批-->
        <activity
            android:name="com.zhongou.view.ExaminationAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 01-01 我的申请-->
        <activity
            android:name="com.zhongou.view.examination.ZOAplListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- 01-02 我的审批-->
        <activity
            android:name="com.zhongou.view.examination.ZOApvlListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 01-02 审批-驳回01-->
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.CommonDisagreeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--01-02 审批-批准02-->
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.CommonAgreeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--01-02 审批-转交03-->
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.CommonTransfertoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--01-02 审批-抄送04 公司-子公司-->
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.CommonCopytoCoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--01-02 审批-抄送04 子公司-部门-->
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.CommonCopytoDeptActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--01-02 审批-抄送04 部门-联系人-->
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.CommonCopytoEplActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 01-03我的抄送-->
        <activity
            android:name="com.zhongou.view.examination.ZOCopyListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 01 招聘01-->
        <activity
            android:name="com.zhongou.view.examination.RecruitmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.RecruitmentDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.RecruitmentDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.RecruitmentDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!--01 辞职02-->
        <activity
            android:name="com.zhongou.view.examination.DimissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.DimissionDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.DimissionDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.DimissionDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 01 请假03-->
        <activity
            android:name="com.zhongou.view.examination.LeaveActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.LeaveDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.LeaveDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.LeaveDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!--01 加班04-->
        <activity
            android:name="com.zhongou.view.examination.WorkOverTimeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.WorkOverTimeDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.WorkOverTimeDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.WorkOverTimeDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!--01 调休05-->
        <activity
            android:name="com.zhongou.view.examination.TakeDaysOffActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.TakeDaysOffDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.TakeDaysOffDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.TakeDaysOffDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!--01 借阅06-->
        <activity
            android:name="com.zhongou.view.examination.BorrowActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.BorrowDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.BorrowDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.BorrowDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 调薪07-->
        <activity
            android:name="com.zhongou.view.examination.SalaryadjustActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.SalaryadjustDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.SalaryadjustDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.SalaryadjustDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 用车08-->
        <activity
            android:name="com.zhongou.view.examination.VehicleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.VehicleDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.VehicleDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.VehicleDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 维护09-->
        <activity
            android:name="com.zhongou.view.examination.VehicleMaintainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.VehicleMaintainDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.VehicleMaintainDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.VehicleMaintainDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 财务申请10-->
        <activity
            android:name="com.zhongou.view.examination.FinancialAplActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- 财务-借款申请10-01 -->
        <activity
            android:name="com.zhongou.view.examination.FinancialLoanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 财务-报销申请10-02 -->
        <activity
            android:name="com.zhongou.view.examination.FinancialReimburseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 财务-付款申请10-03 -->
        <activity
            android:name="com.zhongou.view.examination.FinancialPayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 财务-费用申请10-04 -->
        <activity
            android:name="com.zhongou.view.examination.FinancialFeeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity
            android:name="com.zhongou.view.examination.applicationdetail.LoanReimbursementDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.LoanReimbursementDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.LoanReimbursementDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 05-11 申请 调动详情-->
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.PositionReplaceDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.PositionReplaceDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.PositionReplaceDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 05-12  采购详情-->
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.ProcurementDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.ProcurementDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.ProcurementDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 05-13  通知公告详情-->
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.NotificationAndNoticeDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.NotificationAndNoticeDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.NotificationAndNoticeDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 05-14  通知公告详情-->
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.OfficeDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.OfficeDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.OfficeDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 05-15  领用详情-->
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.ReceiveDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.ReceiveDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.ReceiveDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 05-16  合同文件详情-->
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.ContractFileDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.ContractFileDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.ContractFileDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 05-17  外出详情-->
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.OutGoingDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.OutGoingDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.OutGoingDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 05-18  复试详情-->
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.RetestDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.RetestDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.RetestDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 05-19  会议详情-->
        <activity
            android:name="com.zhongou.view.examination.applicationdetail.ConferenceDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.approvaldetail.ConferenceDetailApvlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.zhongou.view.examination.copydetail.ConferenceDetailCopyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- 个人信息-->
        <activity
            android:name="com.zhongou.view.PersonalInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 修改密码-->
        <activity
            android:name="com.zhongou.view.ChangePassWordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 意见反馈-->
        <activity
            android:name="com.zhongou.view.FeedbackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--02 业绩管理 -->
        <activity
            android:name="com.zhongou.view.PerformanceManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 03 外出考勤-->
        <activity
            android:name="com.zhongou.view.MapAttendAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2">
        </activity>

        <!-- 03-01地图定位-->
        <activity
            android:name="com.zhongou.view.MapLocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2">
        </activity>

        <!-- 03-01考勤记录-->
        <activity
            android:name="com.zhongou.view.MapAttendRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 04 公告界面-->
        <activity
            android:name="com.zhongou.view.NoticeAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--05 通知 -->
        <activity
            android:name="com.zhongou.view.NotificationAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 06 财务界面-->
        <activity
            android:name="com.zhongou.view.FinanceListAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 07 日程界面-->
        <activity
            android:name="com.zhongou.view.ScheduleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!--08 采购领用 -->
        <activity
            android:name="com.zhongou.view.ProcueRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!--09 交车 记录界面01 -->
        <activity
            android:name="com.zhongou.view.VehicleReturnListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--09 交车 用车-未交车02 -->
        <activity
            android:name="com.zhongou.view.vehiclereturn.VehicleReturnUseUncompleteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--09 交车 用车-交车提交03 -->
        <activity
            android:name="com.zhongou.view.vehiclereturn.VehicleReturnUseToCompleteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--09 交车 用车-已交车详情04 -->
        <activity
            android:name="com.zhongou.view.vehiclereturn.VehicleReturnUseCompleteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--09 交车 未维保-未交车05 -->
        <activity
            android:name="com.zhongou.view.vehiclereturn.VehicleReturnMaintenanceUncompleteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--09 交车 维保-交车提交界面05 -->
        <activity
            android:name="com.zhongou.view.vehiclereturn.VehicleReturnMaintenanceToCompleteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--09 交车 维保-已交车详情06 -->
        <activity
            android:name="com.zhongou.view.vehiclereturn.VehicleReturnMaintenanceCompleteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--通讯录-子公司01 -->
        <activity
            android:name="com.zhongou.view.ContactsDeptOfSonActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--通讯录-部门02 -->
        <activity
            android:name="com.zhongou.view.ContactsEplOfDeptActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--通讯录-员工详情03 -->
        <activity
            android:name="com.zhongou.view.ContactsEplDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--通讯录-申请-选择审批人 -->
        <activity
            android:name="com.zhongou.view.ContactsSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>